@tobbyjob-icons-admin__font-name-path: '@{baseDir}Tobby_Job/fonts/job';
@tobbyjob-icons-admin__font-name : 'Job';
.lib-font-face(
    @family-name:@tobbyjob-icons-admin__font-name,
    @font-path: @tobbyjob-icons-admin__font-name-path,
    @font-weight: normal,
    @font-style: normal
);
.admin__menu .item-job-head.parent.level-0 > a:before {
    font-family: @tobbyjob-icons-admin__font-name;
    content: "\e903";
}
